* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

h1 {
    color: #FF9898;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 583;
    font-style: normal;
}

.container-header {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 80px;
}

.container-content-judul {
    /* background-color: aqua; */
    width: 400px;
}

.container-content-deskripsi {
    margin-top: 25px;
    width: 400px;
}

p {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 495;
    font-style: normal;
    text-align: justify;
    opacity: 0.6;
}

.container-content {
    /* background-color: brown; */
    margin-left: 50px;
    margin-top: 50px;
}

.container-content-button {
    display: flex;
    justify-content: center;
}

button {
    margin-top: 30px;
    width: 400px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #FF9898;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 495;
    font-style: normal;
    color: white;
}

.container-game-1{
    background-color: #ffd0d0;
    margin-top: 150px;
    height: 450px;
    display: flex;
    justify-content: center;
    filter: drop-shadow(5px 5px 15px #fdabab);
}

.maxmin-judul {
    display: flex;
    justify-content: center;
}

.maxmin-judul-text {
    color: #FF9898;
    margin-top: 30px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 495;
    font-style: normal;
}

.maxmin-bilangan {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.maxmin-bilangan-max {
    margin-left: 30px;
}

h2 {
    padding: 8px;
    border-bottom: 3px solid #fa8b8b;
}

h4 {
    display: flex;
    justify-content: center;
    color: #fa8b8b;
}

.container-game-content {
    display: flex;
    margin: 50px;
}

.container-game-maxmin {
    background-color: white;
    height: 300px;
    width: fit-content;
    padding: 30px;
    border-radius: 10px;
}


.inputbatas {
    width: 130px;
    height: 50px;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
    background-color: #fdadad;
    text-align: center;
    font-weight: bold;
}

.maxmin-button {
    margin-top: 20px;
}

#maxmin-btn {
    height: 50px;
}

#gambarhp {
    margin-left: 150px;
}

.parent-container-game-2 {
    height: 400px;
    display: flex;
    justify-content: center;

}

.container-game-2 {
    display: flex;
    justify-content: center;
    margin-top: 200px;
    background-color: white;
    /* border: 2px solid #FF9898; */
    width: 800px;
    height: 300px;
    margin-bottom: 300px;
    border-radius: 20px;
    padding: 20px;
    filter: drop-shadow(5px 5px 30px #FF9898);
}

#judul-input {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 495;
    font-style: normal;
    border: none;
}

.input-submit-user {
    display: flex;
    justify-content: center;
}

#value-input {
    height: 35px;
    margin-top: 30px;
    border-radius: 10px;
    border: none;
    background-color: #fa8b8b;
}

#submit-btn {
    width: 100px;
    margin-left: 20px;
}

.parent-container-game-input {
    /* background-color: aqua; */
    align-items: center;
    display: flex;
    justify-content: center;
}

.container-game-2 {
    align-content: center;
}

.parent-container-game-display {
    display: flex;
    justify-content: center;
    margin-left: 50px;
    padding: 20px;
}

.container-game-display {
    /* background-color: aqua; */
    align-content: center;
}

#display-value {
    background-color: rgb(216, 216, 216);
    padding: 40px;
    border-radius: 10px;
}

.btn-animation {
    transition-property: transform, filter, background-color;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

.btn-animation:hover {
    transform: translateY(-5px);
    filter: drop-shadow(2px 2px 8px #e42d2d);
}

.btn-animation:active {
    background-color: #e42d2d;
}

.container-img {
    margin-right: 30px;
    filter: drop-shadow(10px 10px 25px  #fd9090);
}

@keyframes SlideinLeft {
    from {
        transform: translateX(-300px);
        opacity: 0;
    }
    to {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes SlideinRight {
    from {
        transform: translateX(300px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes SlideinBottom {
    from {
        transform: translateY(-150px);
        opacity: 0;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

.container-game-2 {
    animation-name: SlideinBottom;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-timeline: view();
}

.container-header {
    animation-name: SlideinLeft;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-delay: 0s;

    animation-timeline: entry 0;
}

.container-game-maxmin {
    animation-name: SlideinLeft;
    animation-duration: 10s;
    animation-timing-function: ease;

    animation-timeline: view();
    animation-range: entry 0% cover 60%;
}
.container-game-img {
    animation-name: SlideinRight;
    animation-duration: 10s;
    animation-timing-function: ease;

    animation-timeline: view();
    animation-range: entry 0% cover 60%;
}