* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
}

.box2 {
    margin-top: 50px;
    margin-left: 40px;
}

#submit-btn {
    margin-top: 16px;
    padding: 15px;
    width: 200px;
    background-color: rgb(156, 232, 232);
    border-radius: 10px;
    border: none;
    color: rgb(55, 136, 136);
    font-weight: bold;
}

p {
    padding: 20px;
    text-align: center;
    border: 2px solid rgb(97, 186, 186);
    border-radius: 6px;
    color: rgba(0, 0, 0, 0.29);
}

.content {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.parent-content-2 {
    display: flex;
    justify-content: center;
}

.content-2  {
   margin-top: 50px;
   border: 3px solid rgb(156, 232, 232);
   width: fit-content;
   padding: 20px;
   border-radius: 10px;
   display: flex;
   justify-content: center;
}

.parent-content-3 {
    /* background-color:black ; */
    margin-top: 30px;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.content-3 {
    display: flex;
    justify-content: center;
    border: 3px solid rgb(156, 232, 232);
    border-radius: 10px;
    padding: 20px;
    width: fit-content;
    height: fit-content;
}

.as {
    margin-left: 20px;

}

#include-hurufbesar, #include-angka {
    margin-bottom: 20px;
}

.b16-32 {
    margin-left: 20px;
}

h2 {
    color: rgb(109, 228, 228);
    font-weight: bold;
}

#submit-btn:hover {
    background-color: rgb(107, 185, 185);
    color: white;
}

#submit-btn:active {
    background-color: rgb(68, 132, 132);
    color: white;
}

.duarjadi {
    opacity: 1;
}

